<div class="jumbotron">
      <div class="container text-center">
        <h1>My Portfolio</h1>      
        <p>Ones Stop Place To Track Your All Crypto</p>
      </div>
</div>
<div class="panel panel-default" ng-init="getCoinPurchaseList()">
  <div class="panel-heading">
    <h3 class="panel-title">My Portfolio</h3>
  </div>
  <div class="panel-body">
    <div class="row">
    	<div ng-repeat="coinPurchase in coinPurchaseList">
    		<div class="col-md-6">
    			<div class="col-md-6">
    				<h4 class="form-control-static">{{coinPurchase.coinName}} ({{coinPurchase.coin}})</h4>
    				<p>Units : {{coinPurchase.coinUnit }}</p>
                    <p>Current Price : {{coinPurchase.coinCurrentPrice | number : 4}} $</p>
                    <p>Invested Amount :<a data-toggle="tooltip" data-placement="right" title="Purchase Date : {{coinPurchase.coinPurchaseDate}}"> {{coinPurchase.coinPurchasePrice | number : 4}} $</a></p>
                    <p>Asset Value : {{(coinPurchase.coinUnit * coinPurchase.coinCurrentPrice) | number : 4}} $</p>
                    <p>Profit : {{((coinPurchase.coinUnit * coinPurchase.coinCurrentPrice) - coinPurchase.coinPurchasePrice) | number : 4}} $</p>

                  <!--   <p>Holding Since : {{coinPurchase.coinPurchaseDate | date: 'dd/MM/yyyy'}}</p> -->
    				<!-- <a class="btn btn-primary" href="#/coinPurchase/details/{{coinPurchase._id}}">View Details</a> -->
    			</div>
    			<div class="col-md-5">
    				<img class="img-circle" src="{{coinPurchase.image_url}}">
    			</div>
    		</div>
    	</div>
    </div>
  </div>
</div>

<style>
p {
   margin: 0px;
   padding: 1px;
}
</style>